@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: 'Inter', sans-serif;
}

:root {
  --color-main: #03fcf0;   
  --color-4th: #fc277c; 
  --color-border: #14eea2;    
  --color-dark: #151414;   
  --color-gray: #393636;   
  --color-star: #f3d930;   
}

body{
    background: aliceblue;
    overflow-x: hidden;
    margin-top: 180px;
}
h1,h2,h3,h4,h5,h6{
    color: var(--color-dark);
}
