@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: 'Inter', sans-serif;
}

:root {
  --color-main: #03fcf0;   
  --color-4th: #fc277c; 
  --color-border: #14eea2;    
  --color-dark: #151414;   
  --color-gray: #393636;   
  --color-star: #f3d930;   
}

body{
    background: aliceblue;
    overflow-x: hidden;
    margin-top: 180px;
}
h1,h2,h3,h4,h5,h6{
    color: var(--color-dark);
}

p{
  color: var(--color-dark);
}

.container{
  width: 75%;
  margin: auto;
}

@media (max-width:1500px){
  .container{
    width: 90%;
  }
}

/* header section */
header{
  position: fixed;
  top:0;
  left: 0;
  right: 0;
  background: #fff;
  z-index: 1000;
}
.logo img{
  height: 5rem;
  width: auto;
}

header .top-nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .top-nav .search{
  width: 25%;
  border: 2px solid var(--color-main);
  position: relative;
  border-radius: 5px;
}

header .top-nav .search input{
  padding: 10px;
  outline: none;
  border: none;
  width: 100%;
}

header .top-nav .search button{
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  width: 35%;
  background-color: var(--color-main);
  height: 100%;
  font-size: 1rem;
  cursor: pointer;
}

header .top-nav .cart_head{
  display: flex;
  gap: 10px;
  align-items: center;
}

header .top-nav .cart_head i{
  color: var(--color-dark);
  font-size: 20px;
  border: 1px solid var(--color-border);
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 25px;
  border-radius: 50%;
  cursor: pointer;
  transition:  0.3s ease;
}
header .top-nav .cart_head i:hover{
  background-color: var(--color-main);
  color: #fff;
}

header .top-nav .cart_head .item_count{
  position: absolute;
  background-color: var(--color-main);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  text-align: center;
  line-height: 20px;
  font-size: 15px;
  font-weight: bold;
  top: 1rem;
  right: 8rem;
  border: 1px solid var(--color-border);
}

/* second header section */
header nav{
  box-shadow: 0 -4px 8px -4px rgba(128,128,128,0.5);
}

header .links{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .links ul{
  display: flex;
  gap: 40px;
}

header .links ul li{
  position: relative;
  padding: 15px 0;
}

header .links ul li a{
  color: var(--color-dark);
  text-transform: uppercase;
  font-weight: 500;
}
header .links ul li::after{
  content: '';
  position: absolute;
  bottom: 0;
  width: 0%;
  height: 2px;
  left: 0;
  background: var(--color-main);
}

header .links ul li:hover::after,
header .links ul li.active::after{
  width: 100%;
}

header .login_signup{
  display: flex;
  gap: 10px;
}

header .login_signup a{
  color: var(--color-dark);
  padding: 10px 15px;
 background-color: var(--color-main);
 border-radius: 5px;
 font-weight: 500;
}

header .login_signup a:hover{
  color: #fff;
}

/* cart page */
.cart{
  position: fixed;
  top: 0;
  right: -400px;
  bottom: 0;
  background: #fff;
  padding: 30px;
  border-left: 1px solid var(--color-border);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30%;
  z-index: 1000;
}

.cart.active{
  right: 0;
}

.cart .top_cart{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cart .top_cart .cart_close i{
  font-size: 18px;
  cursor: pointer;
}
.cart .top_cart h3 span{
  color: var(--color-gray);
}

.cart .cart_items{
  padding: 20px 0;
  border-block: 1px solid var(--color-border);
  margin-block: 5px;
  height: 100%;
  overflow-y: auto;
}
.cart .cart_bottom .total{
display: flex;
justify-content: space-between;
margin-bottom: 30px;
}

.cart .cart_button{
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.cart .cart_button .btn_cart{
  border: 2px solid var(--color-main);
  border-radius: 5px;
  color: var(--color-dark);
  padding: 10px 0;
  text-align: center;
  font-size: 16px;
  text-transform: uppercase;
  cursor: pointer;
  background: var(--color-main);
  transition: 0.3s ease;
}
.cart .cart_button .btn_cart:hover{
  background: transparent;
}
.cart .cart_button .trans_bg{
  background: transparent;
}
.cart .cart_button .trans_bg:hover{
  background-color: var(--color-main);
  color: #fff;
}

/* cart product section */
.cart .item_cart{
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  margin-bottom: 25px;
}

.cart .item_cart:last-child{
  margin-bottom: 0;
}
.cart .item_cart img{
  width: 100px;
}

.cart .item_cart h4{
  margin-bottom: 10px;
  font-weight: 500;
}
.cart .item_cart .delete_item{
  outline: none;
  border: none;
}
.cart .item_cart .delete_item i{
  font-size: 18px;
  cursor: pointer;
  transition: 0.3s ease;
}
.cart .item_cart .delete_item i:hover{
  color: var(--color-4th);
  transform: scale(1.2);
}

/* slider section */
.slider .container .side_bar{
  width: 250px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}
.slider .container .side_bar h2{
  padding: 20px 15px;
  display: flex;
  gap: 15px;
  align-items: center;
  font-size: 18px;
}
.slider .container .side_bar a{
  padding: 15px;
  font-size: 14px;
  font-weight: 500;
  color: var(--color-dark);
  border-top: 1px solid var(--color-border);
}
.slider .container .side_bar a:hover{
  color: var(--color-main);
}

/* sliding */
.slider .container{
  display: flex;
  gap: 2rem;
}
.slider_area{
  flex: 1;
  border-radius: 10px;
  overflow: hidden;
}

.mySwiper{
  width: 100%;
  height: 350px;
}
.swiper-slide img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* features section */
.features{
  margin: 50px 0;
}

.features .container{
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  padding: 15px 20px;
  border-radius: 5px;
  flex-wrap: wrap;
  gap: 10px;
}
.features .container .feature_item{
  display: flex;
  align-items: center;
  gap: 20px;
}
.features .container .feature_item img{
  width: 50px;
}
.features .container .feature_item h4{
  margin-bottom: 8px;
}
.features .container .feature_item p{
  font-size: 13px;
  color: var(--color-4th);
}

/* offer section */
.banner{
  margin: 50px 0;
}

.banner .container{
  display: flex;
  justify-content: space-between;
}
.banner .container .banner_img{
  width: 32%;
  position: relative;
}
.banner .container .banner_img img{
  width: 100%;
}
.banner .glass_hover{
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
.banner .glass_hover::after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(50deg, transparent 50%,
  rgba(255,255,255,0.1) 60%,
  rgba(255,255,255,0.5) 70%,
  transparent 71%);
}

/* product section */
.slide{
  margin-bottom: 50px;
}

.top_slide{
  position: relative;
  margin-bottom: 40px;
}
.top_slide::after{
  position: absolute;
  content: '';
  margin-top: 5px;
  background-color: var(--color-main);
  width: 19%;
  height: 2px;
}

.products{
  display: flex;
  gap: 20px;
  width: max-content;
  animation: slideProducts 30s linear infinite;
}

@keyframes slideProducts{
  0%{
    transform: translateX(0%);
  }
  100%{
    transform: translateX(-50%);
  }
}

.product{
  background-color: #fff;
  padding: 15px 30px;
  text-align: center;
  overflow: hidden;
  box-shadow: 5px 5px 10px gray;
  border-radius: 5px;
  width: 25%;
  position: relative;
}

.product:hover{
  transform: scale(1.03);
}



.product .img_product{
  position: relative;
}
.product .img_product img{
  width: 100%;
  transition: 0.3s ease-in-out;
}

.product .img_product .img_hover{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0;
}
.product:hover .img_product .img_hover{
  opacity: 1;
}
.product .product_name{
  font-size: 16px;
  font-weight: 600;
}
.product .product_name a{
  color: var(--color-4th);
}
.product .product_name a:hover{
  text-decoration: underline;
}
.stars{
  margin: 15px 0;
}
.stars i{
  color: var(--color-star);
}
.price{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.price p{
  color: var(--color-4th);
  font-weight: bold;
}
.price .old_price{
  color: var(--color-dark);
  font-size: 13px;
  text-decoration: line-through;
}
.product .sale_present{
  position: relative;
  top: 10px;
  left: 45%;
  z-index: 1;
  background-color: red;
  border-radius: 50%;
  padding: 4px 10px;
  color: #fff;
}

.product .icons{
  display: flex;
  gap: 10px;
  position: absolute;
  right: -50%;
  top: 53%;
  z-index: 1;
}

.product:hover .icons{
  right: 70px;
}
.product .icons i{
  background: #fff;
  width: 35px;
  height: 35px;
  line-height: 30px;
  border: 1px solid var(--color-border);
  border-radius: 20%;
  text-align: center;
  cursor: pointer;
}
.product .icons i:hover{
  background-color: var(--color-main);
  color: #fff;
}

/* newslatter section */

.newslatter{
  background-color: #fff;
  padding: 50px 90px;
}
.news{
  display: flex;
  align-items: center;
  max-width: 1200px;
  flex-wrap: wrap;
}

.news .text{
  display: flex;
  align-items: center;
  gap: 20px;
  flex: 1;
}

.news .text img{
  width: 90px;
}
.news .text .content h4{
  font-size: 24px;
  font-weight: 600;
}

.news .text .content p{
  margin: 10px 0;
  color: #555;
}

.news .text .content h6{
  font-size: 16px;
  font-weight: normal;
  color: #999;
}

.newslatter_form{
  display: flex;
  gap: 10px;
  flex: 1;
}
.newslatter_form input[type="email"]{
  padding: 12px 15px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

.newslatter_form button{
  padding: 12px 20px;
  background: var(--color-main);
  border: none;
  border-radius: 5px;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
}
.newslatter_form button:hover{
  background-color: var(--color-4th);
}

/* go_to_top */
.go_to_top{
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: var(--color-main);
  color: #fff;
  padding: 10px 14px;
  border-radius: 50%;
  cursor: pointer;
}
.go_to_top:hover{
  background-color: var(--color-4th);
}

/* footer section */
footer .big_row img{
  width: 150px;
  margin-bottom: 20px;
}
footer{
  background: #394150;
  padding: 60px 0;
}
footer .container{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px;
  padding: 0 20px;
}
footer .big_row .line i{
  font-size: 40px;
  color: var(--color-4th);
}

footer .big_row .text h5{
  font-size: 18px;
}
footer .big_row .text h6{
  font-size: 14px;
}
footer .big_row p{
  margin-top: 7px;
  font-size: 14px;
  color: #bbb;
}

footer .row{
  flex: 1 1 1 180px;
}

footer .row h4{
  margin-bottom: 15px;
  color: #fff;
  font-size: 18px;
}

footer .row .links {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
footer .row .links a{
  color: #ccc;
  font-size: 14px;
}
footer .row .links a:hover{
  color: var(--color-main);
}

footer .big_row .line{
  display: flex;
  gap: 10px;
}


/* item_details section */
.item_detail{
  background: #fff;
  padding: 50px 0;
}
.item_detail .container{
  display: flex;
  flex-wrap: wrap;
  gap: 80px;
}
.item_detail .img_item{
  width: 30%;
}

.item_detail .big_img img{
  width: 100%;
  border-radius: 8px;
}

.item_detail .sm_img img{
  width: 30%;
  border-radius: 6px;
}
.item_detail .sm_img img:hover{
  transform: scale(1.05);
}
.item_detail .item_detail{
  width: 58%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.item_detail .name{
  font-size: 22px;
}
.item_detail .img_item .sm_img{
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  cursor: pointer;
}
.item_detail .price span{
  font-size: 18px;
}
.item_detail .old_price{
  font-size: 16px;
}
.item_detail h5{
  font-size: 16px;
}
.item_detail h5 span{
  font-size: 15px;
  color: #555;
}
.item_detail p{
  color: var(--color-dark);
  font-size: 14px;
}
.item_detail h4{
  color: var(--color-4th);
  font-weight: 600;
}
.item_detail button{
  margin: 10px;
  padding: 12px;
  width: 30%;
  color: #fff;
  border: none;
  cursor: pointer;
  background-color: var(--color-main);
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
}
.item_detail button:hover{
  background-color: var(--color-4th);
}
.item_detail .icons{
  display: flex;
  gap: 10px;
}
.item_detail .icons span{
  font-size: 18px;
  cursor: pointer;
}
.item_detail .icons span:hover{
  color: var(--color-4th);
}